body {
  background: #fff;
  overflow-x: hidden;
}

.bigBG { 
  height: 700px;
  width: 100%;
  vertical-align: center;
  min-width: 550px;
}


.list {
  z-index: 10;
  width:100%;
  height: 110px;
  background-color: #D5B9A1;
  position: fixed;
  top: 0%;
  left: 0%;
  right:0%;
  
}
.HomeBigIcon{
  margin: auto;

}

h1{
  font-family:"Lucida Handwriting";
  color: #825831;
}

h3{ 
  position:absolute;
  color:white;
  top: 15%;
  left: 0;
  right: 0;
  font-size: 80px;
  text-align: center;
  text-shadow:
      0 0 7px rgb(240, 191, 113),
      0 0 10px #fff,
      0 0 21px #DECDBE,
      0 0 42px rgb(226, 131, 14),
      0 0 82px rgb(209, 159, 50),
      0 0 92px rgb(233, 147, 91),
      0 0 102px rgb(246, 155, 94),
      0 0 151px #D5B9A1;
}

p{
  text-align: center;
}
.article{
  font-size: 25px;
  color: #501804;
  font-family: "Lucida Handwriting";
}

a:link, a:visited {
  background-color: white;
  color: black;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15cm;
  font-family: 'Lucida Sans';
  font-size: 30px;
}

a:hover, a:active {
  background-color: #825831;
  color: white;
}



.smallIcon{
display:inline-block;
}

.li1{
  margin-top: 90px;
  height:110px;
}

.line {
width: 50px;
height: 50px;
right:0px;
background: #D5B9A1;
cursor: pointer;
display:block;
padding: 30px;
position: fixed;
z-index: 11;
top:0px;

}

.line .menu,
.line .menu::before,
.line .menu::after {
background: #222;
content: ' ';
display:block;
height: 3px;
position: absolute;
transition: background ease .3s, top ease .3s .3s, transform ease .3s;
width: 40px;
}
.line .menu {
right: 18px;
top: 55px;
}

.line .menu::before {
top: -6px;
}

.line .menu::after {
top: 6px;
}

#menu:checked + .line .menu {
background: transparent;
}

#menu:checked + .line .menu::before {
transform: rotate(45deg);
}

#menu:checked + .line .menu::after {
transform: rotate(-45deg);
}

#menu:checked + .line .menu::before,
#menu:checked + .line .menu::after {
top: 0;

transition: top ease .3s, transform ease .3s .3s;
}

#menu:checked ~ .menu-list {
width: 300px;
}

.menu-list {
width: 0px;
height: 100vh;
right:0px;
background: #D5B9A1;
box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
padding-top: 60px;
position: fixed;
z-index: 1;
transition: all .6s;
overflow: hidden;
}
/*
選單向外推
*/
.menu-list ul {
list-style: none;
margin-left:70px;
padding: 0;
}
.menu-list ul>li{
display:block;
width:100px;
}

input#menu {
display: none;
}


div{ 
 
  box-sizing: border-box;
}

.Container{ 
  display: flex;
  height: 740px;
}


.left{ 
  border: #501804 1px solid;
  display: flex;
  flex-direction: column;
  flex: 3;
  /* background-color: aquamarine; */
}
.left .head{ 
  flex: 1;
  /* background-color: #0071C1; */
  background-color: #D5B9A1;
  height: 100px;
}
.left .border{ 
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 8;
  /* background-color:#ece4e4; */
}
.border .image{ 
 
  height: 500px;
  width: 340px;
}
.border span{ 
  font-family: "Lucida Handwriting";
  margin-top: 15px;
  font-size: 30px;
  color: #CC9E8D;
}
.left .bottom{ 
  flex: 1;
  background-color: #D5B9A1;
  height: 100px;
}
.rightCol{ 
  display: flex;
  flex-direction: column;
  flex: 7;
}
.rightCol .title2{ 
 
  display: flex;
  flex: 1; 
  font-size:  25px;
  color: #CC9E8D;
  margin-left: 50px;
  border-bottom: solid 1px #413f3f;
  align-items: flex-end;

}
.title2 span{ 
 
  margin-bottom: 10px;
}
.rightCol .title3{ 
  margin-left: 50px;
  font-size:  20px;
  color: #CC9E8D;
  display: flex;
  flex: 0.8;
  flex-direction: column;
}

.title4{ 
  font-size: 20px;
  color: #CC9E8D;
  list-style: none;
}

.other{ 
  margin-left: 40px;
  font-size: 20px;
  color: #5c1d06;
  padding-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.date{ 
display: flex;
justify-content: flex-end;
}

.frame{
  width:100%;
  height:750px;
  margin: auto;
}

.tbLength{
  margin: auto;
  margin-top:60px;
}

.container2 {
  margin: auto;
  width:525px;
}

.cards {
  display: flex;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 20px;
  background: #D5B9A1;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

.card:not(:last-child) {
  margin-right: 10px;
}

.card:hover {
  color:#fff;
  background: #825831;
}


.card .card-content {
  text-align: center;
}

.card .card-link-wrapper {
  margin-top: auto;
}

.card:hover .card-link {
  background: #825831;
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: #825831;
}


@media (min-width: 500px) {
  .card {
    flex-basis: calc(50% - 10px);
  }

  .card:not(:last-child) {
    margin-right: 20px;
  }
}


.container3 {
  margin: auto;
  width:1000px;
}

.cards2 {
  display: flex;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card2 {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  padding: 20px;
  background: #D5B9A1;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}

.card2:not(:last-child) {
  margin-right: 10px;
}

.card2:hover {
  color:#fff;
  background: #825831;
}


.card2 .card-content2 {
  text-align: center;
}

.card2 .card-link-wrapper2 {
  margin-top: auto;
}

.card2:hover .card-link2 {
  background: #825831;
}

.cards2::-webkit-scrollbar {
  height: 12px;
}

.cards2::-webkit-scrollbar-thumb,
.cards2::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards2::-webkit-scrollbar-thumb {
  background: #825831;
}


@media (min-width: 1100px) {
  .card2 {
    flex-basis: calc(25% - 30px);
  }

  .card2:not(:last-child) {
    margin-right: 40px;
  }
}
